body {
  // background-color: red;
  padding: 0;
  margin: 0;
}
.page00 {
  #canvas-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -9;
  }
  #canvas-container canvas {
    display: block;
    width: 100%;
    height: 100%;
  }
  .item {
    & + & {
      margin-top: 100px;
    }
  }
  .title {
    padding: 100px;
    // background-color: #abc;
    font-size: 32px;
  }
  #title {
    padding: 100px;
    // background-color: #abc;
    font-size: 32px;
  }
}
