body {
  // background-color: red;
  padding: 0;
  margin: 0;
}
.page05 {
  background-color: #abc;
  height: 3000px;
  #canvas-container {
    canvas {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      overflow: hidden;
    }
  }
}
