body {
  // background-color: red;
  padding: 0;
  margin: 0;
}
.page11 {
  background: linear-gradient(
    135deg,
    #0e000f 0%,
    #242424 45%,
    #242424 55%,
    #020018 110%
  );
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body,
html {
  width: 100%;
  height: 100%;
}
#canvas-container {
  position: fixed;
  width: 100%;
  height: 100%;
}
