doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Document
  body.page06
    #canvas-container
    -for(var i = 0; i < 100; i++)
      .item(data-hover-item=i)
        h2.title div
    
    script(src="../index.bundle.js")