body {
  // background-color: red;
  padding: 0;
  margin: 0;
}
.page09 {
  background-color: #abc;

  #canvas-container {
    display: block;
    width: 100%;
    height: 100vh;
    // background: #f00;
    background-image: repeating-conic-gradient(
      hsl(0, 100%, 50%) 0,
      hsl(90, 100%, 50%) 1deg,
      hsl(180, 100%, 50%) 2deg,
      hsl(270, 100%, 50%) 3deg,
      hsl(360, 100%, 50%) 4deg
    );
  }
}
